html {margin: 0;
        padding: 0;}

header {background-color: lightskyblue;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 25px 0px 25px 0px; 
        margin: 0px;}

#ajout {display: flex;
        justify-content: center o !important;
        border-style: outset;
        border-color: lightblue;
        border-radius: 25px;
        background-color: white;
        text-decoration-style: none !important;
        font-size: 20px;
        justify-content: end;}


.jour {background-color: #4575a5;
        color: whitesmoke;
        height: 50px;
        width: 150px;
        border-collapse: collapse;
        border: none;}

.horaire {background-color:#e062c3;
            color: whitesmoke;
            height : 30px;
            width : 100px;
            text-align: center;
            border-collapse: collapse; }

th, td {border: solid black 1px;
        border-collapse: collapse;}

table { border: none;
        border-collapse: collapse;
        border-top-right-radius: 10%;
        border-top-left-radius: 10%;
        border-radius: 25px;}

.agenda { display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: none;
        background-color: lightpink;
        width: auto;
        margin: 0px;                      
        padding: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

#titre2 {font-size: larger;
        text-align: center;
        font-size: x-large;}
        
#midi   {height: 100px;
        background-color: greenyellow;
        color: black;}
    
#medi   {font-size: x-small;
        background-color: lightgray;}

#precedent {
                order: -1;
            height: 100px;
            width: 100px;
            border-radius: 15%;
            border: none;
            box-shadow:20px 20px 50px grey;
            cursor: pointer;}

#next      {height: 100px;
            width: 100px;
            border-radius: 15%;
            border: none;
            box-shadow:20px 20px 50px grey;
            cursor: pointer;}

#hautgauche {border-top-left-radius: 25px;}
#hautdroite {border-top-right-radius: 25px;}
#basgauche {border-bottom-left-radius : 25px;
            border: none;    }
#basdroite {border-bottom-right-radius : 25px;
                border: none;}

#uniquenoir {color: black;} 


body {text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0;}
    .header {padding : 20px 0px 20px 0px;
            text-align: center;
            background:lightskyblue;
            color: #1c1a60;
            font-size: 20px;
            }
    
    #titre,#date,#time,#categorie-select,#memo{border-style: groove;
            border-color: aqua;
            border-radius: 25px;
            color: black;}
    
    #ajouter { border-style: outset;
                border-color: lightblue;
                border-radius: 25px;
                background-color: grey;
                color: white;
                font-size: 20px;
                cursor: pointer;}
    
    .main {padding: 20px 0px 20px 0px;
            background: lightpink;}
    
    #answers,#oui,#non,#memo,#categorie-select,#titre,#date,#time {cursor: pointer;}
    
    
    